/*

*/

.version.bombers /* version checker */
{
	color: #00001E;
	background-color: #41D781;
}

#page
{
	z-index: 1;
	min-height: 790px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 11px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u3284
{
	z-index: 56;
	position: relative;
	margin-right: -10000px;
	width: 10.73%;
	left: 3.44%;
}

#u3188-4
{
	z-index: 3;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 27.3%;
	left: 15.21%;
}

#u3204-4
{
	z-index: 7;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	width: 16.25%;
	left: 55.63%;
}

#u3204-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 16.25%;
	margin: 34px -10000px 0px 0%;
}

#u3207-4
{
	z-index: 11;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	width: 10.21%;
	left: 73.55%;
}

#u3207-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 10.21%;
	margin: 34px -10000px 0px 0%;
}

#u3219-4
{
	z-index: 15;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	width: 11.57%;
	left: 85%;
}

#u3219-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 11.57%;
	margin: 34px -10000px 0px 0%;
}

#pu6208
{
	margin-top: 62px;
	width: 100%;
}

#u6208
{
	z-index: 68;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 40.32%;
	left: 6.46%;
}

#u6218-17
{
	z-index: 70;
	min-height: 124px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: macho, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 45%;
	left: 50.63%;
}

#u6212-4
{
	z-index: 105;
	min-height: 36px;
	background-color: transparent;
	font-family: macho, sans-serif;
	font-weight: 300;
	margin-top: 17px;
	position: relative;
	width: 84.07%;
	margin-left: 7.4%;
}

#pu6219-4
{
	margin-top: 17px;
	width: 100%;
}

#u6219-4
{
	z-index: 60;
	min-height: 39px;
	background-color: transparent;
	color: #F4837D;
	line-height: 40px;
	font-size: 33px;
	font-family: macho, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 33.65%;
	left: -58.96%;
}

#u6215-4
{
	z-index: 64;
	min-height: 39px;
	background-color: transparent;
	color: #F4837D;
	line-height: 31px;
	font-size: 26px;
	font-family: macho, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 33.65%;
	left: 5.11%;
}

#pu6205
{
	margin-top: 43px;
	width: 100%;
}

#u6205
{
	z-index: 87;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 21.78%;
	left: 8.44%;
}

#u6205_img
{
	width: 100.48%;
}

#u6216
{
	z-index: 89;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 21.78%;
	left: 31.36%;
}

#u6213
{
	z-index: 91;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.38%;
	left: 55.21%;
}

#u6220-4
{
	z-index: 93;
	min-height: 54px;
	background-color: transparent;
	font-family: macho, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	width: 21.78%;
	left: 8.44%;
}

#u6207-4
{
	z-index: 97;
	min-height: 54px;
	background-color: transparent;
	font-family: macho, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	width: 21.78%;
	left: 31.78%;
}

#u6204-4
{
	z-index: 101;
	min-height: 54px;
	background-color: transparent;
	font-family: macho, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	width: 19.28%;
	left: 55.21%;
}

#u3229
{
	z-index: 2;
	min-height: 146.7338125436661px;
	padding-bottom: 0px;
}

#u3229_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 1px;
	padding-bottom: 14px;
}

#pu3315
{
	position: relative;
	width: 100%;
}

#u3315
{
	z-index: 58;
	position: relative;
	margin-right: -10000px;
	width: 13.86%;
	left: 1.88%;
}

#u3235-4
{
	z-index: 23;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 20.94%;
	left: 15.73%;
}

#ppu3238-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 43px;
	width: 28.34%;
	margin-left: 36.67%;
}

#u3238-4
{
	z-index: 27;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	width: 26.11%;
	left: 41.18%;
}

#u3238-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 26.11%;
	margin: 0px -10000px 0px 0%;
}

#u3241-4
{
	z-index: 39;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	width: 33.09%;
	left: 66.92%;
}

#u3241-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 33.09%;
	margin: 0px -10000px 0px 0%;
}

#u3242-4
{
	z-index: 43;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	width: 41.18%;
}

#u3242-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41.18%;
	margin: 0px -10000px 0px 0%;
}

#u3239-4
{
	z-index: 31;
	min-height: 17px;
	margin-top: 5px;
	position: relative;
	width: 83.46%;
}

#u3239-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 83.46%;
	margin: 5px 0px 0px 0%;
}

#u3240-4
{
	z-index: 35;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	width: 8.55%;
	left: 65%;
}

#u3240-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 8.55%;
	margin: 43px -10000px 0px 0%;
}

#u3232-4
{
	z-index: 19;
	min-height: 30px;
	position: relative;
	width: 26.05%;
	left: 2.71%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3229-bw
{
	z-index: 2;
	min-height: 146.7338125436661px;
}

#u3253
{
	z-index: 48;
	height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	width: 4.38%;
	left: 82.09%;
}

#u3255
{
	z-index: 51;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	width: 4.8%;
	left: 87.61%;
}

#u3257
{
	z-index: 54;
	height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	width: 4.38%;
	left: 93.55%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#pu3284,#u6208_img,#u6216_img,#u6213_img,#pu6220-4,#pu3229,#pu3238-4,#u3284_img,#u3315_img
{
	width: 100%;
}

@font-face
{
	font-family: '__Ostrich Sans_5';
	src: url('../fonts/ostrichsans-black.eot');
	src: local('☺'), url('../fonts/ostrichsans-black.woff') format('woff'), url('../fonts/ostrichsans-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

