.version.faq /* version checker */
{
	color: #0000F9;
	background-color: #196DFF;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Ostrich Sans_5';
	src: url('../fonts/ostrichsans-black.eot');
	src: local('☺'), url('../fonts/ostrichsans-black.woff') format('woff'), url('../fonts/ostrichsans-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

#page
{
	margin-left: auto;
	border-width: 0px;
	background-image: none;
	border-color: #000000;
	background-color: transparent;
	z-index: 1;
	width: 100%;
	margin-right: auto;
}

#u3284
{
	position: relative;
	margin-right: -10000px;
	z-index: 56;
}

#u3188-4
{
	min-height: 41px;
	z-index: 3;
	position: relative;
}

#u3204-4
{
	min-height: 38px;
	z-index: 7;
	margin-right: -10000px;
	position: relative;
}

#u3207-4
{
	min-height: 38px;
	z-index: 11;
	margin-right: -10000px;
	position: relative;
}

#u3219-4
{
	min-height: 38px;
	z-index: 15;
	margin-right: -10000px;
	position: relative;
}

#u3204-4:hover,#u3207-4:hover,#u3219-4:hover
{
	margin-left: 0%;
	min-height: 38px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u5923-4
{
	color: #FF847C;
	position: relative;
	font-size: 36px;
	min-height: 37px;
	background-color: transparent;
	z-index: 68;
	font-weight: 700;
	line-height: 43px;
	font-family: macho, sans-serif;
}

#u5926-30
{
	min-height: 582px;
	background-color: transparent;
	position: relative;
	z-index: 72;
}

#u5926-2,#u5926-4,#u5926-5,#u5926-6,#u5926-7,#u5926-9,#u5926-11,#u5926-12,#u5926-13,#u5926-14,#u5926-16,#u5926-18,#u5926-19,#u5926-20,#u5926-21,#u5926-23,#u5926-25,#u5926-26,#u5926-27
{
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	font-family: macho, sans-serif;
}

#u5926-28
{
	font-weight: 100;
	font-size: 25px;
	line-height: 30px;
	font-family: macho, sans-serif;
}

#u7358-4
{
	background-color: transparent;
	z-index: 159;
	position: relative;
}

#widgetu7307
{
	z-index: 102;
	width: 0.01px;
	position: relative;
}

#widgetu7320
{
	left: -1px;
	margin-right: -10000px;
	background-color: transparent;
	z-index: 103;
	position: relative;
	width: 342px;
	border-color: transparent;
	border-width: 0px;
	height: 47px;
}

#widgetu7320.fld-err-st
{
	min-height: 0px;
	width: 342px;
	background-color: transparent;
	border-radius: 0px;
	height: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7321-4
{
	color: #6B6B6B;
	text-align: left;
	position: relative;
	left: 1px;
	border-color: transparent;
	border-width: 0px;
	min-height: 20px;
	background-color: transparent;
	z-index: 104;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	width: 200px;
	line-height: 14px;
	margin-right: -10000px;
}

#u7323-4
{
	margin-top: 19px;
	color: #C4C4C4;
	border-width: 1px;
	border-style: solid;
	position: relative;
	padding: 6px;
	border-color: #C4C4C4;
	margin-right: -10000px;
	min-height: 14px;
	background-color: #F2F2F2;
	z-index: 108;
	font-style: italic;
	width: 328px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu7308
{
	margin-top: 60px;
	left: -1px;
	margin-right: -10000px;
	background-color: transparent;
	z-index: 112;
	position: relative;
	width: 342px;
	border-color: transparent;
	border-width: 0px;
	height: 47px;
}

#widgetu7308.fld-err-st
{
	min-height: 0px;
	width: 342px;
	background-color: transparent;
	border-radius: 0px;
	height: 47px;
	margin: 60px -10000px 0px 0px;
}

#u7310-4
{
	color: #6B6B6B;
	text-align: left;
	position: relative;
	left: 1px;
	border-color: transparent;
	border-width: 0px;
	min-height: 20px;
	background-color: transparent;
	z-index: 113;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	width: 200px;
	line-height: 14px;
	margin-right: -10000px;
}

#widgetu7308.fld-err-st #u7310-4
{
	min-height: 20px;
	width: 200px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7309-4
{
	margin-top: 19px;
	color: #C4C4C4;
	border-width: 1px;
	border-style: solid;
	position: relative;
	padding: 6px;
	border-color: #C4C4C4;
	margin-right: -10000px;
	min-height: 14px;
	background-color: #F2F2F2;
	z-index: 117;
	font-style: italic;
	width: 328px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu7320:hover #u7323-4,#widgetu7320.focus-st #u7323-4,#widgetu7308:hover #u7309-4,#widgetu7308.focus-st #u7309-4
{
	border-color: #6B6B6B;
	min-height: 14px;
	background-color: #FFFFFF;
	width: 328px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7320.fld-err-st #u7323-4,#widgetu7308.fld-err-st #u7309-4
{
	border-color: #D7244C;
	min-height: 14px;
	background-color: #FFFFFF;
	width: 328px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7320_input,#widgetu7320_prompt,#widgetu7308_input,#widgetu7308_prompt
{
	color: #C4C4C4;
	width: 328px;
	min-height: 14px;
	font-style: italic;
	padding: 6px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u7319-4
{
	margin-top: 240px;
	left: 140px;
	opacity: 0;
	margin-right: -10000px;
	position: relative;
	filter: alpha(opacity=0);
	font-size: 12px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	min-height: 21px;
	background-color: transparent;
	z-index: 121;
	width: 200px;
	padding-top: 4px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu7307.frm-sub-st #u7319-4 p
{
	color: #999999;
	font-style: italic;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u7317-4
{
	margin-top: 240px;
	color: #FF0000;
	opacity: 0;
	margin-right: -10000px;
	position: relative;
	left: 140px;
	filter: alpha(opacity=0);
	font-size: 12px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: transparent;
	z-index: 125;
	width: 200px;
	padding-top: 4px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu7307.frm-subm-err-st #u7317-4
{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#widgetu7307.frm-subm-err-st #u7317-4 p
{
	color: #D7244C;
	font-style: italic;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u7318-4
{
	margin-top: 240px;
	color: #00FF00;
	opacity: 0;
	margin-right: -10000px;
	position: relative;
	left: 140px;
	filter: alpha(opacity=0);
	font-size: 12px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	min-height: 21px;
	background-color: transparent;
	z-index: 129;
	width: 200px;
	padding-top: 4px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu7307.frm-sub-st #u7319-4,#widgetu7307.frm-subm-ok-st #u7318-4
{
	opacity: 1;
	filter: alpha(opacity=100);
	min-height: 25px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#widgetu7307.frm-subm-ok-st #u7318-4 p
{
	color: #999999;
	font-style: italic;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u7312-17
{
	margin-top: 235px;
	min-height: 31px;
	background-repeat: no-repeat;
	background-color: transparent;
	z-index: 133;
	position: relative;
	width: 131px;
	background-position: 0px 0px;
	margin-right: -10000px;
}

#u7312-17:hover,#u7312-17:active,#widgetu7307.frm-sub-st #u7312-17
{
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: transparent;
}

.hidpi #u7312-17,.hidpi #u7312-17:hover,.hidpi #u7312-17:active,.hidpi #widgetu7307.frm-sub-st #u7312-17
{
	background-size: 131px 31px;
}

#widgetu7313
{
	margin-top: 120px;
	left: -1px;
	margin-right: -10000px;
	background-color: transparent;
	z-index: 150;
	position: relative;
	width: 342px;
	border-color: transparent;
	border-width: 0px;
	height: 101px;
}

#widgetu7313.fld-err-st
{
	min-height: 0px;
	width: 342px;
	background-color: transparent;
	border-radius: 0px;
	height: 101px;
	margin: 120px -10000px 0px 0px;
}

#u7315-4
{
	color: #6B6B6B;
	text-align: left;
	position: relative;
	left: 1px;
	border-color: transparent;
	border-width: 0px;
	min-height: 20px;
	background-color: transparent;
	z-index: 151;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	width: 200px;
	line-height: 14px;
	margin-right: -10000px;
}

#widgetu7320.fld-err-st #u7321-4,#widgetu7313.fld-err-st #u7315-4
{
	border-color: transparent;
	min-height: 20px;
	width: 200px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-width: 0px;
	margin: 0px -10000px 0px 0px;
}

#widgetu7320.fld-err-st #u7321-4 p,#widgetu7320.fld-err-st #u7321-4 span,#widgetu7308.fld-err-st #u7310-4 p,#widgetu7308.fld-err-st #u7310-4 span,#widgetu7313.fld-err-st #u7315-4 p,#widgetu7313.fld-err-st #u7315-4 span
{
	color: #D7244C;
}

#u7314-4
{
	margin-top: 19px;
	color: #C4C4C4;
	border-width: 1px;
	border-style: solid;
	position: relative;
	padding: 6px;
	border-color: #C4C4C4;
	margin-right: -10000px;
	min-height: 68px;
	background-color: #F2F2F2;
	z-index: 155;
	font-style: italic;
	width: 328px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu7313:hover #u7314-4,#widgetu7313.focus-st #u7314-4
{
	border-color: #6B6B6B;
	min-height: 68px;
	background-color: #FFFFFF;
	width: 328px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7320.non-empty-st #u7323-4 *,#widgetu7320:hover #u7323-4 *,#widgetu7320.focus-st #u7323-4 *,#widgetu7308.non-empty-st #u7309-4 *,#widgetu7308:hover #u7309-4 *,#widgetu7308.focus-st #u7309-4 *,#widgetu7313.non-empty-st #u7314-4 *,#widgetu7313:hover #u7314-4 *,#widgetu7313.focus-st #u7314-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7313.fld-err-st #u7314-4
{
	border-color: #D7244C;
	min-height: 68px;
	background-color: #FFFFFF;
	width: 328px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7320.fld-err-st #u7323-4 *,#widgetu7308.fld-err-st #u7309-4 *,#widgetu7313.fld-err-st #u7314-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu7313_input,#widgetu7313_prompt
{
	color: #C4C4C4;
	width: 328px;
	min-height: 68px;
	font-style: italic;
	padding: 6px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu7320.focus-st #widgetu7320_prompt,#widgetu7308.focus-st #widgetu7308_prompt,#widgetu7313.focus-st #widgetu7313_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu7320:hover #widgetu7320_input,#widgetu7320.focus-st #widgetu7320_input,#widgetu7320.fld-err-st #widgetu7320_input,#widgetu7320:hover #widgetu7320_prompt,#widgetu7320.fld-err-st #widgetu7320_prompt,#widgetu7308:hover #widgetu7308_input,#widgetu7308.focus-st #widgetu7308_input,#widgetu7308.fld-err-st #widgetu7308_input,#widgetu7308:hover #widgetu7308_prompt,#widgetu7308.fld-err-st #widgetu7308_prompt,#widgetu7313:hover #widgetu7313_input,#widgetu7313.focus-st #widgetu7313_input,#widgetu7313.fld-err-st #widgetu7313_input,#widgetu7313:hover #widgetu7313_prompt,#widgetu7313.fld-err-st #widgetu7313_prompt
{
	padding-bottom: 6px;
	padding-top: 6px;
}

.js body,#widgetu7320.non-empty-st #widgetu7320_prompt,#widgetu7308.non-empty-st #widgetu7308_prompt,#widgetu7313.non-empty-st #widgetu7313_prompt
{
	visibility: hidden;
}

#u3229_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u3315
{
	position: relative;
	margin-right: -10000px;
	z-index: 58;
}

#u3235-4
{
	min-height: 45px;
	z-index: 23;
	margin-right: -10000px;
	position: relative;
}

#u3238-4
{
	min-height: 17px;
	z-index: 27;
	margin-right: -10000px;
	position: relative;
}

#u3240-4
{
	min-height: 17px;
	z-index: 35;
	margin-right: -10000px;
	position: relative;
}

#u3241-4
{
	min-height: 17px;
	z-index: 39;
	margin-right: -10000px;
	position: relative;
}

#u7466-4
{
	min-height: 17px;
	z-index: 60;
	margin-right: -10000px;
	position: relative;
}

#u3242-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	z-index: 43;
}

#u3239-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	z-index: 31;
}

#u3238-4:hover,#u3240-4:hover,#u3241-4:hover,#u7466-4:hover,#u3242-4:hover,#u3239-4:hover
{
	min-height: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#u7469-4
{
	min-height: 17px;
	z-index: 64;
	position: relative;
}

#u7469-4:hover
{
	margin-left: 0%;
	min-height: 17px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#u3232-4
{
	z-index: 19;
	position: relative;
}

#u3229,#u3229-bw
{
	z-index: 2;
}

#u3253
{
	position: relative;
	z-index: 48;
	margin-right: -10000px;
}

#u3255
{
	position: relative;
	z-index: 51;
	margin-right: -10000px;
}

#u3257
{
	position: relative;
	z-index: 54;
	margin-right: -10000px;
}

#widgetu7320.non-empty-st #u7323-4,#widgetu7308.non-empty-st #u7309-4,#widgetu7313.non-empty-st #u7314-4,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

#pu3284,#pu3229,#pu3315,#u3284_img,#u3315_img
{
	width: 100%;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1378.8999999999999px;
		padding-top: 11px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#u3284
	{
		width: 10.73%;
		left: 3.44%;
	}

	#u3188-4
	{
		margin-right: -10000px;
		margin-top: 21px;
		width: 27.3%;
		left: 15.21%;
	}

	#u3204-4
	{
		margin-top: 32px;
		width: 16.36%;
		left: 52.92%;
	}

	#u3204-4:hover
	{
		margin-top: 32px;
		width: 16.36%;
	}

	#u3207-4
	{
		margin-top: 32px;
		width: 14.17%;
		left: 69.48%;
	}

	#u3207-4:hover
	{
		margin-top: 32px;
		width: 14.17%;
	}

	#u3219-4
	{
		margin-top: 33px;
		width: 15%;
		left: 83.86%;
	}

	#u3219-4:hover
	{
		margin-top: 33px;
		width: 15%;
	}

	#u5923-4
	{
		margin-top: 56px;
		width: 85.53%;
		margin-left: 6.46%;
	}

	#u5926-30
	{
		margin-top: 37px;
		width: 75.63%;
		margin-left: 13.44%;
	}

	#u7358-4
	{
		width: 20.84%;
		margin-left: 32.3%;
	}

	#widgetu7307
	{
		height: 266px;
		margin-top: 15px;
		margin-left: 32.3%;
	}

	#u7317-4
	{
		min-height: 21px;
	}

	#widgetu7307.frm-subm-err-st #u7317-4
	{
		min-height: 25px;
	}

	#u7312-17
	{
		background-image: url("../images/u7312-17.png");
		margin-bottom: -1px;
	}

	#u7312-17:hover
	{
		background-image: url("../images/u7312-17-r.png");
	}

	#u7312-17:active
	{
		background-image: url("../images/u7312-17-m.png");
	}

	#widgetu7307.frm-sub-st #u7312-17
	{
		background-image: url("../images/u7312-17-fs.png");
	}

	.hidpi #u7312-17
	{
		background-image: url("../images/u7312-17_2x.png");
	}

	.hidpi #u7312-17:hover
	{
		background-image: url("../images/u7312-17-r_2x.png");
	}

	.hidpi #u7312-17:active
	{
		background-image: url("../images/u7312-17-m_2x.png");
	}

	.hidpi #widgetu7307.frm-sub-st #u7312-17
	{
		background-image: url("../images/u7312-17-fs_2x.png");
	}

	#pu3229
	{
		margin-top: 60px;
	}

	#u3229
	{
		min-height: 133px;
		padding-bottom: 14px;
	}

	#ppu3315
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 1px;
		width: 34.8%;
		margin-left: 1.88%;
	}

	#u3315
	{
		width: 39.83%;
	}

	#u3235-4
	{
		margin-top: 26px;
		width: 60.18%;
		left: 39.83%;
	}

	#u3232-4
	{
		min-height: 30px;
		width: 74.86%;
		margin-left: 2.4%;
	}

	#ppu3238-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 27px;
		width: 51.46%;
		margin-left: 40.11%;
	}

	#pu3238-4
	{
		width: 99.2%;
	}

	#u3238-4
	{
		width: 14.49%;
		left: 22.86%;
	}

	#u3238-4:hover
	{
		width: 14.49%;
	}

	#u3240-4
	{
		width: 16.74%;
		left: 54.9%;
	}

	#u3240-4:hover
	{
		width: 16.74%;
	}

	#u3241-4
	{
		width: 18.37%;
		left: 37.15%;
	}

	#u3241-4:hover
	{
		width: 18.37%;
	}

	#u3242-4
	{
		width: 22.86%;
	}

	#u3242-4:hover
	{
		width: 22.86%;
	}

	#u7466-4
	{
		width: 28.17%;
		left: 71.84%;
	}

	#u7466-4:hover
	{
		width: 28.17%;
	}

	#pu3239-4
	{
		margin-top: 5px;
		width: 99.8%;
	}

	#u3239-4
	{
		width: 49.7%;
	}

	#u3239-4:hover
	{
		width: 49.7%;
	}

	#u7469-4
	{
		margin-right: -10000px;
		width: 50.71%;
		left: 49.3%;
	}

	#u7469-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 50.71%;
	}

	#u3229-bw
	{
		min-height: 133px;
	}

	#u3253
	{
		height: 48px;
		margin-top: 85px;
		width: 5%;
		margin-left: 95%;
		left: -124px;
	}

	#u3255
	{
		height: 52px;
		margin-top: 83px;
		width: 5.42%;
		margin-left: 94.59%;
		left: -67px;
	}

	#u3257
	{
		height: 48px;
		margin-top: 85px;
		width: 5%;
		margin-left: 95%;
		left: -14px;
	}
}

@media (min-width: 481px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 1389.7500000000002px;
		padding-bottom: 0px;
		max-width: 768px;
	}

	#page_position_content
	{
		margin-bottom: -11px;
		padding-top: 11px;
		width: 100%;
	}

	#u3284
	{
		width: 10.68%;
		left: 3.39%;
	}

	#u3188-4
	{
		margin-right: -10000px;
		margin-top: 21px;
		width: 27.35%;
		left: 15.24%;
	}

	#u3204-4
	{
		margin-top: 32px;
		width: 16.41%;
		left: 53%;
	}

	#u3204-4:hover
	{
		margin-top: 32px;
		width: 16.41%;
	}

	#u3207-4
	{
		margin-top: 32px;
		width: 14.2%;
		left: 69.54%;
	}

	#u3207-4:hover
	{
		margin-top: 32px;
		width: 14.2%;
	}

	#u3219-4
	{
		margin-top: 33px;
		width: 14.98%;
		left: 83.86%;
	}

	#u3219-4:hover
	{
		margin-top: 33px;
		width: 14.98%;
	}

	#u5923-4
	{
		margin-top: 68px;
		width: 85.55%;
		margin-left: 6.52%;
	}

	#u5926-30
	{
		margin-top: 37px;
		width: 75.66%;
		margin-left: 13.42%;
	}

	#u7358-4
	{
		width: 20.84%;
		margin-left: 32.3%;
	}

	#widgetu7307
	{
		height: 266px;
		margin-top: 15px;
		margin-left: 32.3%;
	}

	#u7317-4
	{
		min-height: 21px;
	}

	#widgetu7307.frm-subm-err-st #u7317-4
	{
		min-height: 25px;
	}

	#u7312-17
	{
		background-image: url("../images/u7312-172.png");
		margin-bottom: -1px;
	}

	#u7312-17:hover
	{
		background-image: url("../images/u7312-17-r2.png");
	}

	#u7312-17:active
	{
		background-image: url("../images/u7312-17-m2.png");
	}

	#widgetu7307.frm-sub-st #u7312-17
	{
		background-image: url("../images/u7312-17-fs2.png");
	}

	.hidpi #u7312-17
	{
		background-image: url("../images/u7312-17_2x2.png");
	}

	.hidpi #u7312-17:hover
	{
		background-image: url("../images/u7312-17-r_2x2.png");
	}

	.hidpi #u7312-17:active
	{
		background-image: url("../images/u7312-17-m_2x2.png");
	}

	.hidpi #widgetu7307.frm-sub-st #u7312-17
	{
		background-image: url("../images/u7312-17-fs_2x2.png");
	}

	#pu3229
	{
		margin-top: -1px;
	}

	#u3229
	{
		min-height: 113px;
		padding-bottom: 45px;
	}

	#ppu3315
	{
		margin-right: -10000px;
		margin-top: 1px;
		width: 34.77%;
		margin-left: 1.83%;
	}

	#u3315
	{
		width: 39.71%;
	}

	#u3235-4
	{
		margin-top: 26px;
		width: 60.3%;
		left: 39.71%;
	}

	#u3232-4
	{
		min-height: 30px;
		margin-top: 1px;
		width: 74.91%;
		margin-left: 2.25%;
	}

	#ppu3238-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 27px;
		width: 54.04%;
		margin-left: 40.11%;
	}

	#pu3238-4
	{
		width: 94.46%;
	}

	#u3238-4
	{
		width: 14.55%;
		left: 22.96%;
	}

	#u3238-4:hover
	{
		width: 14.55%;
	}

	#u3240-4
	{
		width: 16.84%;
		left: 54.85%;
	}

	#u3240-4:hover
	{
		width: 16.84%;
	}

	#u3241-4
	{
		width: 18.37%;
		left: 37.25%;
	}

	#u3241-4:hover
	{
		width: 18.37%;
	}

	#u3242-4
	{
		width: 22.96%;
	}

	#u3242-4:hover
	{
		width: 22.96%;
	}

	#u7466-4
	{
		width: 28.07%;
		left: 71.69%;
	}

	#u7466-4:hover
	{
		width: 28.07%;
	}

	#pu3239-4
	{
		margin-top: 5px;
		width: 100%;
	}

	#u3239-4
	{
		width: 56.87%;
	}

	#u3239-4:hover
	{
		width: 56.87%;
	}

	#u7469-4
	{
		margin-right: -10000px;
		width: 43.62%;
		left: 56.39%;
	}

	#u7469-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 43.62%;
	}

	#u3229-bw
	{
		min-height: 113px;
	}

	#u3253
	{
		height: 40px;
		margin-top: 110px;
		width: 5.21%;
		margin-left: 94.8%;
		left: -98px;
	}

	#u3255
	{
		height: 43px;
		margin-top: 107px;
		width: 5.6%;
		margin-left: 94.41%;
		left: -52px;
	}

	#u3257
	{
		height: 40px;
		margin-top: 108px;
		width: 5.21%;
		margin-left: 94.8%;
		left: -10px;
	}
}

@media (min-width: 321px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 1378.5500000000004px;
		padding-top: 11px;
		padding-bottom: 0px;
		max-width: 480px;
	}

	#u3284
	{
		width: 19.38%;
		left: 3.55%;
	}

	#pu3188-4
	{
		margin-right: -10000px;
		margin-top: 18px;
		width: 75.21%;
		margin-left: 26.46%;
	}

	#u3188-4
	{
		width: 100%;
	}

	#pu3204-4
	{
		margin-top: -1px;
		width: 95.57%;
		margin-left: 0.84%;
	}

	#u3204-4
	{
		width: 35.95%;
	}

	#u3204-4:hover
	{
		margin-top: 0px;
		width: 35.95%;
	}

	#u3207-4
	{
		width: 28.7%;
		left: 35.95%;
	}

	#u3207-4:hover
	{
		margin-top: 0px;
		width: 28.7%;
	}

	#u3219-4
	{
		width: 35.37%;
		left: 64.64%;
	}

	#u3219-4:hover
	{
		margin-top: 0px;
		width: 35.37%;
	}

	#u5923-4
	{
		margin-top: 42px;
		width: 85.63%;
		margin-left: 6.46%;
	}

	#u5926-30
	{
		margin-top: 37px;
		width: 75.63%;
		margin-left: 13.55%;
	}

	#u7358-4
	{
		margin-top: 23px;
		width: 37.09%;
		margin-left: 13.55%;
	}

	#widgetu7307
	{
		height: 266px;
		margin-top: 9px;
		margin-left: 12.92%;
	}

	#u7317-4
	{
		min-height: 21px;
	}

	#widgetu7307.frm-subm-err-st #u7317-4
	{
		min-height: 25px;
	}

	#u7312-17
	{
		background-image: url("../images/u7312-173.png");
		margin-bottom: -1px;
	}

	#u7312-17:hover
	{
		background-image: url("../images/u7312-17-r3.png");
	}

	#u7312-17:active
	{
		background-image: url("../images/u7312-17-m3.png");
	}

	#widgetu7307.frm-sub-st #u7312-17
	{
		background-image: url("../images/u7312-17-fs3.png");
	}

	.hidpi #u7312-17
	{
		background-image: url("../images/u7312-17_2x3.png");
	}

	.hidpi #u7312-17:hover
	{
		background-image: url("../images/u7312-17-r_2x3.png");
	}

	.hidpi #u7312-17:active
	{
		background-image: url("../images/u7312-17-m_2x3.png");
	}

	.hidpi #widgetu7307.frm-sub-st #u7312-17
	{
		background-image: url("../images/u7312-17-fs_2x3.png");
	}

	#pu3229
	{
		margin-top: -1px;
	}

	#u3229
	{
		min-height: 291.5415381308112px;
		padding-bottom: 0px;
	}

	#u3229_align_to_page
	{
		padding-top: 18px;
		padding-bottom: 6px;
	}

	#pu3315
	{
		position: relative;
	}

	#u3315
	{
		width: 23.96%;
		left: 2.3%;
	}

	#u3235-4
	{
		margin-top: 23px;
		width: 66.05%;
		left: 27.92%;
	}

	#pu3238-4
	{
		margin-top: 13px;
		position: relative;
		width: 100%;
	}

	#u3238-4
	{
		width: 21.05%;
		left: 3.96%;
	}

	#u3241-4
	{
		width: 21.88%;
		left: 25%;
	}

	#u3241-4:hover
	{
		width: 21.88%;
	}

	#u3240-4
	{
		width: 21.05%;
		left: 47.3%;
	}

	#u3238-4:hover,#u3240-4:hover
	{
		width: 21.05%;
	}

	#u7466-4
	{
		width: 29.38%;
		left: 68.55%;
	}

	#u7466-4:hover
	{
		width: 29.38%;
	}

	#pu3242-4
	{
		margin-top: 4px;
		position: relative;
		width: 100%;
	}

	#u3242-4
	{
		width: 30.84%;
		left: 3.75%;
	}

	#u3242-4:hover
	{
		width: 30.84%;
	}

	#u3239-4
	{
		width: 59.8%;
		left: 37.09%;
	}

	#u3239-4:hover
	{
		width: 59.8%;
	}

	#u7469-4
	{
		margin-top: 1px;
		width: 66.46%;
		left: 3.75%;
	}

	#u7469-4:hover
	{
		margin-right: 0px;
		margin-top: 1px;
		width: 66.46%;
	}

	#u3232-4
	{
		min-height: 50px;
		margin-top: 40px;
		width: 45.42%;
		left: 2.92%;
	}

	#u3229-bw
	{
		min-height: 291.5415381308112px;
	}

	#u3253
	{
		height: 49px;
		margin-top: 234px;
		width: 10.21%;
		margin-left: 89.8%;
		left: -126px;
	}

	#u3255
	{
		height: 53px;
		margin-top: 233px;
		width: 11.05%;
		margin-left: 88.96%;
		left: -67px;
	}

	#u3257
	{
		height: 49px;
		margin-top: 234px;
		width: 10.21%;
		margin-left: 89.8%;
		left: -11px;
	}
}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 1390px;
		max-width: 320px;
	}

	#page_position_content
	{
		margin-bottom: -32px;
		padding-top: 17px;
		width: 100%;
	}

	#u3284
	{
		width: 24.07%;
		left: 0.63%;
	}

	#pu3188-4
	{
		margin-right: -10000px;
		margin-top: 12px;
		width: 75.32%;
		margin-left: 26.57%;
	}

	#u3188-4
	{
		width: 100%;
	}

	#pu3204-4
	{
		margin-top: -1px;
		width: 95.44%;
		margin-left: 0.83%;
	}

	#u3204-4
	{
		width: 36.09%;
	}

	#u3204-4:hover
	{
		margin-top: 0px;
		width: 36.09%;
	}

	#u3207-4
	{
		width: 28.7%;
		left: 36.09%;
	}

	#u3207-4:hover
	{
		margin-top: 0px;
		width: 28.7%;
	}

	#u3219-4
	{
		width: 35.22%;
		left: 64.79%;
	}

	#u3219-4:hover
	{
		margin-top: 0px;
		width: 35.22%;
	}

	#u5923-4
	{
		margin-top: 42px;
		width: 85.63%;
		margin-left: 6.57%;
	}

	#u5926-30
	{
		margin-top: 36px;
		width: 75.63%;
		margin-left: 13.44%;
	}

	#u7358-4
	{
		margin-top: 20px;
		width: 37.19%;
		margin-left: 3.13%;
	}

	#widgetu7307
	{
		height: 268px;
		margin-top: 9px;
		margin-left: 2.82%;
	}

	#u7317-4
	{
		min-height: 24px;
	}

	#widgetu7307.frm-subm-err-st #u7317-4
	{
		min-height: 28px;
	}

	#u7312-17
	{
		background-image: url("../images/u7312-174.png");
	}

	#u7312-17:hover
	{
		background-image: url("../images/u7312-17-r4.png");
	}

	#u7312-17:active
	{
		background-image: url("../images/u7312-17-m4.png");
	}

	#widgetu7307.frm-sub-st #u7312-17
	{
		background-image: url("../images/u7312-17-fs4.png");
	}

	.hidpi #u7312-17
	{
		background-image: url("../images/u7312-17_2x4.png");
	}

	.hidpi #u7312-17:hover
	{
		background-image: url("../images/u7312-17-r_2x4.png");
	}

	.hidpi #u7312-17:active
	{
		background-image: url("../images/u7312-17-m_2x4.png");
	}

	.hidpi #widgetu7307.frm-sub-st #u7312-17
	{
		background-image: url("../images/u7312-17-fs_2x4.png");
	}

	#u3229
	{
		min-height: 324.97535067447734px;
		padding-bottom: 0px;
	}

	#u3229_align_to_page
	{
		padding-top: 18px;
		padding-bottom: 6px;
	}

	#pu3315
	{
		position: relative;
	}

	#u3315
	{
		width: 24.07%;
		left: 2.19%;
	}

	#u3235-4
	{
		margin-top: 5px;
		width: 65.94%;
		left: 27.82%;
	}

	#u3238-4
	{
		width: 20.94%;
		left: 4.07%;
	}

	#u3238-4:hover
	{
		width: 20.94%;
	}

	#u3240-4
	{
		width: 20.63%;
		left: 45.63%;
	}

	#u3240-4:hover
	{
		width: 20.63%;
	}

	#u3241-4
	{
		width: 24.69%;
		left: 22.19%;
	}

	#u3241-4:hover
	{
		width: 24.69%;
	}

	#u7466-4
	{
		width: 33.75%;
		left: 64.07%;
	}

	#u7466-4:hover
	{
		width: 33.75%;
	}

	#pu3238-4,#pu3242-4
	{
		margin-top: 27px;
		position: relative;
		width: 100%;
	}

	#u3242-4
	{
		width: 30.94%;
		left: 3.75%;
	}

	#u3242-4:hover
	{
		width: 30.94%;
	}

	#u3239-4
	{
		width: 75.94%;
		left: 35%;
	}

	#u3239-4:hover
	{
		width: 75.94%;
	}

	#u7469-4
	{
		margin-top: 25px;
		width: 66.57%;
		left: 3.75%;
	}

	#u7469-4:hover
	{
		margin-right: 0px;
		margin-top: 25px;
		width: 66.57%;
	}

	#u3232-4
	{
		min-height: 50px;
		margin-top: 41px;
		width: 45.32%;
		left: 3.13%;
	}

	#u3229-bw
	{
		min-height: 324.97535067447734px;
	}

	#u3253
	{
		height: 35px;
		margin-top: 266px;
		width: 10.94%;
		margin-left: 89.07%;
		left: -103px;
	}

	#u3255
	{
		height: 37px;
		margin-top: 265px;
		width: 11.57%;
		margin-left: 88.44%;
		left: -55px;
	}

	#u3257
	{
		height: 35px;
		margin-top: 266px;
		width: 10.94%;
		margin-left: 89.07%;
		left: -11px;
	}

	body
	{
		min-width: 320px;
	}
}

