/*

*/

.version.index /* version checker */
{
	color: #0000FB;
	background-color: #E12C01;
}

#page
{
	z-index: 1;
	min-height: 2722.9px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 11px;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u3284
{
	z-index: 56;
	position: relative;
	margin-right: -10000px;
	width: 10.73%;
	left: 3.44%;
}

#u3188-4
{
	z-index: 3;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 27.3%;
	left: 15.21%;
}

#u3204-4
{
	z-index: 7;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	width: 16.25%;
	left: 55.63%;
}

#u3204-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 16.25%;
	margin: 34px -10000px 0px 0%;
}

#u3207-4
{
	z-index: 11;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	width: 10.21%;
	left: 73.55%;
}

#u3207-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 10.21%;
	margin: 34px -10000px 0px 0%;
}

#u3219-4
{
	z-index: 15;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	width: 11.57%;
	left: 85%;
}

#u3219-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 11.57%;
	margin: 34px -10000px 0px 0%;
}

#pslideshowu424
{
	margin-top: 14px;
	width: 100%;
}

#slideshowu424
{
	z-index: 60;
	width: 0.01px;
	height: 292px;
	position: relative;
	margin-right: -10000px;
}

#u433
{
	position: absolute;
	width: 960px;
	height: 292px;
	background-color: transparent;
}

#u433popup
{
	z-index: 61;
}

#u436
{
	z-index: 62;
	width: 960px;
	height: 292px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u543
{
	z-index: 64;
	width: 960px;
	height: 292px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u563
{
	z-index: 66;
	width: 960px;
	height: 292px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u7139
{
	z-index: 68;
	height: 292px;
	background-color: #000000;
	opacity: 0.44;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=44)";
	filter: alpha(opacity=44);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u7139-bw
{
	z-index: 68;
	height: 292px;
}

#u319-4
{
	z-index: 103;
	min-height: 59px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 70px;
	font-size: 58px;
	font-family: '__Ostrich Sans_5';
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	width: 92.5%;
	left: 3.86%;
}

#u322-4
{
	z-index: 107;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 41px;
	font-size: 34px;
	font-family: '__Ostrich Sans_5';
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	width: 92.5%;
	left: 3.86%;
}

#u613
{
	z-index: 111;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	width: 21.88%;
	left: 3.86%;
}

#u613:hover
{
	min-height: 0px;
	width: 21.88%;
	margin: 164px -10000px 0px 0%;
}

#u613:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.59), inset -3px -3px 4px rgba(0,0,0,0.59);
}

#u861
{
	z-index: 189;
	width: 125px;
	min-height: 33px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 84.9%;
}

#u7281
{
	z-index: 247;
	background-color: transparent;
	-webkit-transform: matrix(0.9659,0.2588,-0.2588,0.9659,21,-14);
	-ms-transform: matrix(0.9659,0.2588,-0.2588,0.9659,21,-14);
	transform: matrix(0.9659,0.2588,-0.2588,0.9659,21,-14);
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	width: 13.34%;
	left: 86.67%;
}

#pu669-4
{
	margin-top: 26px;
	width: 100%;
}

#u669-4
{
	z-index: 113;
	min-height: 63px;
	background-color: transparent;
	color: #2A363B;
	line-height: 36px;
	font-size: 30px;
	font-family: macho, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 26.05%;
	left: 5%;
}

#u759-4
{
	z-index: 149;
	min-height: 93px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: macho, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	width: 61.26%;
	left: 35.94%;
}

#pu672
{
	margin-top: 19px;
	width: 100%;
}

#u672
{
	z-index: 117;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 18.55%;
	left: 13.44%;
}

#u712
{
	z-index: 121;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 18.65%;
	left: 41.78%;
}

#u722
{
	z-index: 119;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 18.23%;
	left: 69.48%;
}

#u732-7
{
	z-index: 123;
	min-height: 113px;
	background-color: transparent;
	letter-spacing: -1px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: macho, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 26.05%;
	left: 9.69%;
}

#u736-7
{
	z-index: 130;
	min-height: 113px;
	background-color: transparent;
	letter-spacing: -1px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: macho, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 25.73%;
	left: 38.34%;
}

#u739-7
{
	z-index: 137;
	min-height: 113px;
	background-color: transparent;
	letter-spacing: -1px;
	text-align: center;
	font-family: macho, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 66.88%;
}

#u739-2
{
	font-size: 20px;
	line-height: 24px;
}

#u739-5
{
	font-size: 18px;
	line-height: 22px;
}

#pu903
{
	margin-top: 30px;
	width: 100%;
}

#u903
{
	z-index: 70;
	min-height: 745.7376623376604px;
	background-color: #FECEA8;
	padding-bottom: 0px;
}

#u903_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
	padding-top: 22px;
	padding-bottom: 41px;
}

#pu866-4
{
	margin-right: -10000px;
	width: 52.19%;
	margin-left: 5%;
}

#u866-4
{
	z-index: 190;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: macho, sans-serif;
	font-weight: 700;
	position: relative;
	width: 44.32%;
}

#u882-4
{
	z-index: 194;
	min-height: 19px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	font-size: 20px;
	font-family: macho, sans-serif;
	font-weight: 300;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 66.07%;
	margin-left: 33.94%;
}

#u882-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66.07%;
	margin: 0px 0px -4px 33.93213572854291%;
}

#u882-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2119
{
	z-index: 233;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	width: 15.63%;
	left: 58.65%;
}

#u2119:hover
{
	min-height: 0px;
	width: 15.63%;
	margin: 25px -10000px 0px 0%;
}

#u2119:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.48), inset -3px -3px 4px rgba(0,0,0,0.48);
}

#pu6640
{
	margin-top: 60px;
	position: relative;
	width: 100%;
}

#u6640
{
	z-index: 235;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 16.46%;
	left: 14.28%;
}

#u6640:hover
{
	-pie-box-shadow: none;
	box-shadow: 7px 7px 8px rgba(0,0,0,0.5);
	border-radius: 0px;
	min-height: 0px;
	width: 16.46%;
	margin: 1px -10000px 0px 0%;
}

#u6648
{
	z-index: 237;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 16.57%;
	left: 39.59%;
}

#u6648:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	min-height: 0px;
	width: 16.57%;
	margin: 0px -10000px 0px 0%;
}

#u6655
{
	z-index: 239;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 16.46%;
	left: 64.8%;
}

#u6655:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	min-height: 0px;
	width: 16.46%;
	margin: 1px -10000px 0px 0%;
}

#pu6662
{
	margin-top: 74px;
	position: relative;
	width: 100%;
}

#u6662
{
	z-index: 241;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 16.25%;
	left: 14.28%;
}

#u6669
{
	z-index: 243;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 16.25%;
	left: 39.59%;
}

#u6676
{
	z-index: 245;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 16.25%;
	left: 64.8%;
}

#u6662:hover,#u6669:hover,#u6676:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	min-height: 0px;
	width: 16.25%;
	margin: 0px -10000px 0px 0%;
}

#u903-bw
{
	z-index: 70;
	min-height: 745.7376623376604px;
	margin-top: 509px;
}

#u750
{
	z-index: 144;
	min-height: 518.65px;
	background-color: #2A363B;
	padding-bottom: 0px;
}

#u750_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
	padding-top: 8px;
	padding-bottom: 15px;
}

#u756-4
{
	z-index: 145;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: macho, sans-serif;
	font-weight: 700;
	position: relative;
	width: 26.78%;
	left: 5%;
}

#pu763
{
	margin-top: 34px;
	position: relative;
	width: 100%;
}

#u763
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 9.69%;
	left: 16.46%;
}

#u771
{
	z-index: 155;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 11.98%;
	left: 44.28%;
}

#u778
{
	z-index: 157;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 9.69%;
	left: 71.46%;
}

#pu838-4
{
	margin-top: 4px;
	position: relative;
	width: 100%;
}

#u838-4
{
	z-index: 165;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: macho, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	width: 16.46%;
	left: 13.76%;
}

#u841-4
{
	z-index: 169;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: macho, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	width: 15.63%;
	left: 42.19%;
}

#u844-4
{
	z-index: 173;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: macho, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	width: 15.63%;
	left: 69.38%;
}

#pu785
{
	margin-top: 35px;
	position: relative;
	width: 100%;
}

#u785
{
	z-index: 159;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 9.17%;
	left: 16.46%;
}

#u792
{
	z-index: 161;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 9.17%;
	left: 45.73%;
}

#u799
{
	z-index: 163;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 10.11%;
	left: 71.46%;
}

#pu847-4
{
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u847-4
{
	z-index: 177;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: macho, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	width: 16.88%;
	left: 13.13%;
}

#u850-4
{
	z-index: 181;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: macho, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	width: 17.09%;
	left: 41.46%;
}

#u853-4
{
	z-index: 185;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: macho, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	width: 15.63%;
	left: 69.38%;
}

#u750-bw
{
	z-index: 144;
	min-height: 518.65px;
}

#u6736
{
	z-index: 69;
	min-height: 66px;
	background-color: #99B898;
	padding-bottom: 390px;
}

#u6736_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u900-4
{
	z-index: 198;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: macho, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	width: 23.13%;
	left: 5%;
}

#u6736-bw
{
	z-index: 69;
	min-height: 66px;
}

#slideshowu1977
{
	z-index: 71;
	width: 0.01px;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 72.09%;
}

#u1990popup
{
	z-index: 72;
}

#u1991
{
	z-index: 73;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5220
{
	z-index: 75;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5240
{
	z-index: 77;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1803
{
	z-index: 79;
	width: 0.01px;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 51.57%;
}

#u1816popup
{
	z-index: 80;
}

#u1817
{
	z-index: 81;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5561
{
	z-index: 83;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5581
{
	z-index: 85;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1716
{
	z-index: 87;
	width: 0.01px;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 31.05%;
}

#u1729popup
{
	z-index: 88;
}

#u1730
{
	z-index: 89;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5352
{
	z-index: 91;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5372
{
	z-index: 93;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1890
{
	z-index: 95;
	width: 0.01px;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 51.57%;
}

#u1903popup
{
	z-index: 96;
}

#u1904
{
	z-index: 97;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5418
{
	z-index: 99;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5438
{
	z-index: 101;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1025
{
	z-index: 202;
	width: 0.01px;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 10.53%;
}

#u1026popup
{
	z-index: 203;
}

#u1029
{
	z-index: 204;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1164
{
	z-index: 206;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1144
{
	z-index: 208;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1011
{
	z-index: 210;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	width: 16.15%;
	left: 10.53%;
	background: transparent url("../images/bombers-u1011-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u1011
{
	background-image: url("../images/bombers-u1011-fr_2x.jpg");
}

#u1191
{
	z-index: 211;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	width: 16.15%;
	left: 51.57%;
	background: transparent url("../images/healthy%20on%20lark-u1191-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u1191
{
	background-image: url("../images/healthy%20on%20lark-u1191-fr_2x.jpg");
}

#u1194
{
	z-index: 212;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	width: 16.15%;
	left: 72.09%;
	background: transparent url("../images/jewel%20of%20india-u1194-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u1194
{
	background-image: url("../images/jewel%20of%20india-u1194-fr_2x.jpg");
}

#slideshowu1197
{
	z-index: 213;
	width: 0.01px;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 10.53%;
}

#u1199popup
{
	z-index: 214;
}

#u1202
{
	z-index: 215;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5286
{
	z-index: 217;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5306
{
	z-index: 219;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1223
{
	z-index: 221;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	width: 16.15%;
	left: 10.53%;
	background: transparent url("../images/lilac-u1223-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u1223
{
	background-image: url("../images/lilac-u1223-fr_2x.jpg");
}

#slideshowu1629
{
	z-index: 222;
	width: 0.01px;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 31.05%;
}

#u1990,#u1816,#u1729,#u1903,#u1026,#u1199,#u1642
{
	position: absolute;
	width: 155px;
	height: 155px;
	background-color: transparent;
}

#u1642popup
{
	z-index: 223;
}

#u1643
{
	z-index: 224;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5034
{
	z-index: 226;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5054
{
	z-index: 228;
	width: 155px;
	height: 155px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1224
{
	z-index: 230;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	width: 16.15%;
	left: 31.05%;
	background: transparent url("../images/oasis-u1224-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u1224
{
	background-image: url("../images/oasis-u1224-fr_2x.jpg");
}

#u1225
{
	z-index: 231;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	width: 16.15%;
	left: 51.57%;
	background: transparent url("../images/stacks-u1225-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u1223:hover,#u1224:hover,#u1225:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	height: 155px;
	min-height: 0px;
	width: 16.15%;
	margin: 268px -10000px 0px 0%;
	background-size: cover;
}

.hidpi #u1225
{
	background-image: url("../images/stacks-u1225-fr_2x.jpg");
}

#u1188
{
	z-index: 232;
	height: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	width: 16.15%;
	left: 31.05%;
	background: transparent url("../images/dcs-u1188-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u1011:hover,#u1191:hover,#u1194:hover,#u1188:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	height: 155px;
	min-height: 0px;
	width: 16.15%;
	margin: 84px -10000px 0px 0%;
	background-size: cover;
}

.hidpi #u1188
{
	background-image: url("../images/dcs-u1188-fr_2x.jpg");
}

#u3229
{
	z-index: 2;
	min-height: 146.73381254366632px;
	padding-bottom: 0px;
}

#u3229_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 1px;
	padding-bottom: 14px;
}

#ppu866-4,#pu3315
{
	position: relative;
	width: 100%;
}

#u3315
{
	z-index: 58;
	position: relative;
	margin-right: -10000px;
	width: 13.86%;
	left: 1.88%;
}

#u3235-4
{
	z-index: 23;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 20.94%;
	left: 15.73%;
}

#ppu3238-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 43px;
	width: 28.34%;
	margin-left: 36.67%;
}

#u3238-4
{
	z-index: 27;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	width: 26.11%;
	left: 41.18%;
}

#u3238-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 26.11%;
	margin: 0px -10000px 0px 0%;
}

#u3241-4
{
	z-index: 39;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	width: 33.09%;
	left: 66.92%;
}

#u3241-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 33.09%;
	margin: 0px -10000px 0px 0%;
}

#u3242-4
{
	z-index: 43;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	width: 41.18%;
}

#u3242-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41.18%;
	margin: 0px -10000px 0px 0%;
}

#u3239-4
{
	z-index: 31;
	min-height: 17px;
	margin-top: 5px;
	position: relative;
	width: 83.46%;
}

#u3239-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 83.46%;
	margin: 5px 0px 0px 0%;
}

#u3240-4
{
	z-index: 35;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	width: 8.55%;
	left: 65%;
}

#u3240-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 8.55%;
	margin: 43px -10000px 0px 0%;
}

#u3232-4
{
	z-index: 19;
	min-height: 30px;
	position: relative;
	width: 26.05%;
	left: 2.71%;
}

#u3229-bw
{
	z-index: 2;
	min-height: 146.73381254366632px;
}

#u3253
{
	z-index: 48;
	height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	width: 4.38%;
	left: 82.09%;
}

#u3255
{
	z-index: 51;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	width: 4.8%;
	left: 87.61%;
}

#u3257
{
	z-index: 54;
	height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	width: 4.38%;
	left: 93.55%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#pu3284,#u613_img,#u7281_img,#u672_img,#u712_img,#u722_img,#pu732-7,#u2119_img,#u6640_img,#u6648_img,#u6655_img,#u6662_img,#u6669_img,#u6676_img,#u778_img,#u799_img,#pu6736,#pu3229,#pu3238-4,#u3284_img,#u3315_img
{
	width: 100%;
}

@font-face
{
	font-family: '__Ostrich Sans_5';
	src: url('../fonts/ostrichsans-black.eot');
	src: local('☺'), url('../fonts/ostrichsans-black.woff') format('woff'), url('../fonts/ostrichsans-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

