	.btn-primary {
    	background-color: #ff847c;
    	border-color: #e84a5f;
    	color: #fff;
	}
	.btn-primary:hover {
    	background-color: #e84a5f;
    	border-color: #e84a5f;
	}	
	#example_wrapper {
        width: 98%;
        margin: 1em 0 0 1em;
    }
    .cartTable{
    	border: 1px solid #2A363B; 
    }
    th{
        background-color: #2a363b !important;
    	color: #ff847c;
    	font-size: 20px;
    }
    td{
    	font-size: 18px;
    }
    .odd{
    	background-color: #FECEA8 !important;
    }
    tr.odd > .sorting_1{
    	background-color: #feb9a8 !important;
    }
	tr.even > .sorting_1{
		background-color: #fedcc1 !important;
	} 
	
	@media screen and (max-width: 800px){
		#example_wrapper {
        	width: 97%;
    	}
    	th{
    		font-size: 18px;
    	}
    	td{
    		font-size: 16px;
    	}
	}
	
		
	@media screen and (max-width: 640px){
		#example_wrapper {
        	width: 95%;
    	}
    	th{
    		font-size: 16px;
    	}
    	td{
    		font-size: 14px;
    	}
    	.btn{
    		padding: 5px 10px !important;
    	}
	}
	
	@media screen and (max-width: 480px){
		#example_wrapper {
        	width: 95%;
    	}
    	th{
    		font-size: 14px;
    	}
    	td{
    		font-size: 12px;
    	}
    	.btn{
    		padding: 4px 8px !important;
    		font-size: 12px !important;
    	}
	}
	    
    @media screen and (max-width: 390px){
		#example_wrapper {
        	width: 95%;
    	}
    	th{
    		font-size: 12px !important;
    		padding: 5px 5px !important;
    	}
    	td{
    		font-size: 11px;
    	}
    	.btn{
    		padding: 3px 6px !important;
    		font-size: 11px !important;
    	}
	}