	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 992.9px;
		padding-top: 11px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#u3284
	{
		width: 10.73%;
		left: 3.44%;
	}

	#u3188-4
	{
		margin-right: -10000px;
		margin-top: 21px;
		width: 27.3%;
		left: 15.21%;
	}

	#u3204-4
	{
		margin-top: 32px;
		width: 16.36%;
		left: 52.92%;
	}

	#u3204-4:hover
	{
		margin-top: 32px;
		width: 16.36%;
	}

	#u3207-4
	{
		margin-top: 32px;
		width: 14.17%;
		left: 69.48%;
	}

	#u3207-4:hover
	{
		margin-top: 32px;
		width: 14.17%;
	}

	#u3219-4
	{
		margin-top: 33px;
		width: 15%;
		left: 83.86%;
	}

	#u3219-4:hover
	{
		margin-top: 33px;
		width: 15%;
	}

	#pu6241-7
	{
		margin-top: 40px;
	}

	#u6241-7
	{
		width: 85.32%;
		left: 7.5%;
	}

	#u7175
	{
		margin-top: 185px;
		width: 39.59%;
		left: 9.07%;
	}

	#u7185
	{
		margin-top: 185px;
		width: 39.59%;
		left: 51.67%;
	}

	#u7195
	{
		margin-top: 446px;
		width: 40.32%;
		left: 51.67%;
	}

	#u7205
	{
		margin-top: 446px;
		width: 24.07%;
		left: 16.88%;
	}

	#u6245
	{
		height: 62px;
		background-image: url("../images/u6245.png");
		margin-top: 81px;
		width: 25.53%;
		margin-left: 35.63%;
	}

	#u6245:hover
	{
		background-image: url("../images/u6245-r.png");
	}

	.hidpi #u6245
	{
		background-image: url("../images/u6245_2x.png");
		background-size: 245px 62px;
	}

	.hidpi #u6245:hover
	{
		background-image: url("../images/u6245-r_2x.png");
		background-size: 245px 62px;
	}

	#pu3229
	{
		margin-top: 49px;
	}

	#u3229
	{
		min-height: 133px;
		padding-bottom: 14px;
	}

	#ppu3315
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 1px;
		width: 34.8%;
		margin-left: 1.88%;
	}

	#u3315
	{
		width: 39.83%;
	}

	#u3235-4
	{
		margin-top: 26px;
		width: 60.18%;
		left: 39.83%;
	}

	#u3232-4
	{
		min-height: 30px;
		width: 74.86%;
		margin-left: 2.4%;
	}

	#ppu3238-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 27px;
		width: 51.46%;
		margin-left: 40.11%;
	}

	#pu3238-4
	{
		width: 99.2%;
	}

	#u3238-4
	{
		width: 14.49%;
		left: 22.86%;
	}

	#u3238-4:hover
	{
		width: 14.49%;
	}

	#u3240-4
	{
		width: 16.74%;
		left: 54.9%;
	}

	#u3240-4:hover
	{
		width: 16.74%;
	}

	#u3241-4
	{
		width: 18.37%;
		left: 37.15%;
	}

	#u3241-4:hover
	{
		width: 18.37%;
	}

	#u3242-4
	{
		width: 22.86%;
	}

	#u3242-4:hover
	{
		width: 22.86%;
	}

	#u7466-4
	{
		width: 28.17%;
		left: 71.84%;
	}

	#u7466-4:hover
	{
		width: 28.17%;
	}

	#pu3239-4
	{
		margin-top: 5px;
		width: 99.8%;
	}

	#u3239-4
	{
		width: 49.7%;
	}

	#u3239-4:hover
	{
		width: 49.7%;
	}

	#u7469-4
	{
		margin-right: -10000px;
		width: 50.71%;
		left: 49.3%;
	}

	#u7469-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 50.71%;
	}

	#u3229-bw
	{
		min-height: 133px;
	}

	#u3253
	{
		height: 48px;
		margin-top: 85px;
		width: 5%;
		margin-left: 95%;
		left: -124px;
	}

	#u3255
	{
		height: 52px;
		margin-top: 83px;
		width: 5.42%;
		margin-left: 94.59%;
		left: -67px;
	}

	#u3257
	{
		height: 48px;
		margin-top: 85px;
		width: 5%;
		margin-left: 95%;
		left: -14px;
	}

