	#u3229_align_to_page
	{
		max-width: 960px;
	}

	.hidpi #u3255
	{
		background-size: 46px 46px;
	}

	.hidpi #u3255:hover
	{
		background-size: 52px 52px;
	}

	.hidpi #u3253,.hidpi #u3257
	{
		background-size: 42px 42px;
	}

	.hidpi #u3253:hover,.hidpi #u3257:hover
	{
		background-size: 48px 48px;
	}

