
*{
    font-family: 'Raleway', sans-serif;
    color : #FFF; 
}
.glyphicon{
	color: black;
}
.caret, .modal-title{
	color: black;
}
div span {
     font-weight: 200;
}

h1{
     font-weight: 200;
}

.login_box{
    background: #FF847C;
    width:50%;
    position:absolute;
    left:27.5%;
    
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);
}

@media (max-width: 767px) {
    .login_box{
        background: #FF847C;
        width:90%;
        height:80%;
        position:absolute;
        left:7%;
        
        -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    }
}

@media (max-width: 480px) {
    .login_box{
        left:10%;
    }
}

@media (max-width: 350px) {
	h1{
		font-size: 18px;
	}
	h3{
		font-size: 16px;
	}
	.label{
		font-size: 14px;
	}
}

.follow{
    background-color:#E84A5F;
    cursor:pointer;
}

.follow:hover{
    background-color: #FECEA8; /*E84A5F FECEA8*/
    color:black;
    cursor:pointer;
}
.follow:hover span{
    color:black;
}

.login_control{
    background-color:#FFF;
    padding:10px;
    
}

.control {
    color:#000;
    margin:10px;
    text-align: center;
}

.label {
    color: #E84A5F;
    font-size: 18px;
    font-weight: 500;
}

.line{
    border-bottom : 2px solid #E84A5F;
}


.outter{
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    background-color: #2A363B;
    width: 150px;
    height: 150px;
}


.profile-header-img > img.img-circle {
    width: 150px;
    height: 150px;
    border: 1px solid #2A363B;
}

.rank-label-container {
    margin-top: -19px;
    text-align: center;
    cursor: pointer;
}

.label.label-default.rank-label {
    background-color: #2A363B;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}